.site-subt{
    font-size: 22px;
    font-family: $circe-regular;
    line-height: 22px;
    // Media
    @include m-1400{
        font-size: 16px;
    }
}

.site-btn{
    max-width: 400px;
    width: 100%;
    background: $blue;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 34px 28px 45px;
    &:hover{
        animation: heartBeat 1.5s infinite;
    }
    // Media
    @include m-1400{
        padding: 22px 26px 23px 33px;
        max-width: 290px;
    }
    @include m-1250{
        max-width: 240px;
        padding: 20px;
    }
    a{ 
        color: $white;
        font-size: 30px;
        // Media
        @include m-1400{
            font-size: 18px;
        }
    }
    
    i{
        font-size: 20px;
        color: $white;
    }
}

.title-wrap{
    .subheading{
        font-size: 21px;
        line-height: 20px;
        color: $main;
    }
    .site-title{
        font-size: 40px;
        font-family: $prox-bold;
        font-weight: 700;
        line-height: 53px;
        color: $title;
        margin: 13px 0 7px;
        // Media
        @include m-1400{
            font-size: 32px;
            margin: 0;
        }
        @include m-1250{
            font-size: 25px;
            margin: 0;
            line-height: 46px;
        }
        @include m-570{
            line-height: 32px;
        }
    }
}

.title-link{
    display: flex;
    align-items: center;
    margin-top: 30px;
    transition: 00.3s;
    &:hover a{
        color: $main;
        transform: scale(1.1);
    }
    // Media
    @include m-1250{
        margin-top: 24px;
    }
    a{
        font-size: 25px;
        line-height: 20px;
        color: $blue;
        // Media
        @include m-1400{
            font-size: 18px;
        }
        &:first-child{
            padding-right: 40px;
        }
    }
}

.swiper-slide.yellow,
.item.yellow{
    background: $yellow;
}

.swiper-slide.pink,
.item.pink{
    background: $pink;
}

.swiper-slide.purple,
.item.purple{
    background: $purple;
}

.item-title{
    font-size: 26px;
    line-height: 30px;
    font-family: $prox-semibold;
    color: $title;
    // Media
    @include m-1400{
        font-size: 20px;
    }
}

.slider-btns{
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-top: 25px;
    // Media
    @include m-570{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
    }
    button{
        border: none;
        outline: none;
        background: none;
        font-size: 35px;
        color: $main;
        // Media
        @include m-1400{
            font-size: 30px;
        }
        @include m-570{
            font-size: 25px;
        }
    }
}

.swiper-slide{
    width: 345px;
    background: $white;
    margin: 4px 0;
    height: 187px;
    // Media
    @include m-1400{
        width: 290px ;
        height: 160px ;
    }
    @include m-1250{
        width: 300px ;
    }
    @include m-940{
        width: 225px ;
        height: 160px ;
    }
    @include m-570{
        width: 174px ;
        height: 110px ;
    }
    a{
        padding: 33px 18px 33px 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // Media
        @include m-1400{
            padding: 24px 30px 15px;
        }
        .img{
            position: relative;
            width: 45px;
            height: 45px;
            object-fit: cover;
            // Media
            @include m-570{
                width: 25px;
                height: 25px;
            }
            &::after{
                content: url('..//images/icon_maps.png');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // Media
                @include m-1250{
                    width: 13px;
                    height: 12px;
                    top: 39%;
                    left: 38%;
                }
                @include m-940{
                    width: 13px;
                    height: 12px;
                    top: 37%;
                    left: 37%;
                }
                @include m-570{
                    content: url('../images/phone_icon.png');
                    top: 40%;
                    left: 46%;
                }
            }
            img{
                object-fit: cover;
                // Media
                @include m-570{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .item-title{
            padding: 17px 0 15px;
            // Media 
            @include m-1250{
                padding: 10px 0;
            }
            @include m-570{
                padding: 6px 0;
                font-size: 18px;
            }
        }
        .text{
            font-size: 18px;
            font-family: $prox-regular;
            color: $title;
            // Media
            @include m-1250{
                font-size: 16px;
            }
            @include m-570{
                font-size: 12px;
            }
        }
    }
}

.sphere-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    // Media
    @include m-1400{
        margin-bottom: 35px;
    }
    @include m-570{
        margin-bottom: 22px;
    }
}

i.fab{
    transition: 0.5s;
    animation: icon 4s  linear infinite;
}
@keyframes icon{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
i:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.3);
    color: $main;
}

@keyframes heartBeat {
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.1);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.1);
    }
    70%{
        transform: scale(1);
    }
}

.swiper{
    max-width: 975px;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    // overflow: hidden;
    height: 280px;
    gap: 15px;
    overflow-x: hidden;
    
    // position: absolute;
    // Media
    @include m-1400{
        // max-width: 807px;
        width: 100%;
        height: 230px;
    }
    @include m-1250{
        // max-width: 535px;
        flex-wrap: wrap;
    }
    @include m-570{
        max-width: 100%;
        width: 100%;
        flex-wrap: nowrap;
        float: right;
    }
    .swiper-wrapper{
        display: flex;
        justify-content: space-between;
        .swiper-scrollbar,
        .swiper-pagination{
            opacity: 0;;
        }
    }
    
    
    .swiper-slide{
        max-width: 315px;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 10px;
        transition: 0.5s;
        // Media
        @include m-1400{
            max-width: 260px;
            width: 100%;
        }
        @include m-940{
            max-width: 225px;
            width: 100%;
        }
        @include m-570{
            max-width: 260px;
            width: 100%;
            height: 230px;
            position: relative;
        }
        &:hover{
            transform: scale(1.05);
        }
        a{
            padding: 30px 35px;
            width: 100%;
            height: 100%;
            // Media
            @include m-1400{
                padding: 27px 30px 0;
                width: 100%;
            }
            @include m-940{
                padding: 20px 20px 0;
            }
            @include m-570{
                padding: 26px 32px 22px;
            }
            
            img{
                width: 62px;
                height: 62px;
                object-fit: cover;
                // Media
                @include m-570{
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
            
            .item-title{
                margin: 30px 0 25px;
                height: 30px;
                // Media
                @include m-1400{
                    margin: 25px 0 8px;
                }
                @include m-1400{
                    margin: 8px 0;
                }
                @include m-570{
                    line-height: 19px;
                }
            }
            
            .item-subt{
                font-size: 16px;
                line-height: 22px;
                color: $d-grey;
                height: 70px;
                font-family: $circe-regular;
                width: 240px;
                // Media
                @include m-1400{
                    font-size: 14px;
                    line-height: 19px;
                    width: 100%;
                }
                @include m-940{
                    height: 50px;
                    line-height: 19px;
                    margin-top: 30px;
                }
                @include m-570{
                    margin-top: 8px;
                }
            }
        }
    }
}

.swiper-pagination{
    display: none;
}

.swiper-scrollbar{
    display: none !important;
}

.slider-btns{
    position: relative;
    .swiper-button-prev{
        position: absolute;
        left: 0;
        top: 100%;
        &::after{
           display: none;
        }
    }   
    .swiper-button-next{
        position: absolute;
        right: 0;
        top: 100%;
        &::after{
            display: none;
        }
    } 
}

.container,
.small-container{
    // Media
    @include m-570{
        overflow: hidden;
    }
}
