@import 'fonts.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a{
    display: inline-block;
}

button{
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}

.small-container{
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: #fff;
    color: $d-grey;
    font-family: $prox-semibold;
}