@import 'fonts.scss';

// COLORS
$white: #fff;
$main: #FF723A;
$title: #1B212F;
$d-grey: #787878;
$l-grey: #7D7D7D;
$blue: #2878EB;
$yellow: #FFF1EB;
$pink: #FEEDEE;
$purple: #F3EFFF;
$footer: #343434;


// FONTS
$prox-semibold:'Proxima-semibold';
$prox-bold:'Proxima-bold';
$prox-regular:'Proxima-regular';
$circe-bold: 'Circe-bold';
$circe-regular: 'Circe-regular';